@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000"> 

</div>
<div class="container" style="margin-top: 50px;">
<div class="row" style="text-align:center;">
    <div class="col-md-4">
        <h2>Latest</h2>
            <img class="audioPic" alt="picture" src="~/images/cd.jpeg"/>
            <audio id="myAudio" controls>
                <source src="~/audio/horse.ogg" type="audio/mpeg">
                    Your browser does not support the audio element.
            </audio>    
            <button class="buttons" id="playBtn" type="button">Play</button>
            <button class="buttons" onclick="pauseAudio()" type="button">Pause</button> 
    </div>
    <div class="col-md-4">
        <h2>Last Month</h2>
            <img class="audioPic" alt="picture" height="150" src="~/images/hnhh.jpeg"/>
            <audio id="myAudio" controls>
                <source src="~/audio/horse.ogg" type="audio/mpeg">
                    Your browser does not support the audio element.
            </audio>    
    </div>
    <div class="col-md-4">
        <h2>Favorites</h2>
            <img class="audioPic" alt="picture" src="~/images/itune.jpeg"/>
           <audio id="myAudio" controls>
                <source src="~/audio/horse.ogg" type="audio/mpeg">
                    Your browser does not support the audio element.
            </audio>    
    </div>
</div>
<div class="row" style="text-align:center;">
    <div class="col-md-4">
            <h2>Title</h2>
                <img class="audioPic" alt="picture" src="~/images/lp.jpeg"/>
                <audio id="myAudio" controls>
                    <source src="~/audio/horse.ogg" type="audio/mpeg">
                        Your browser does not support the audio element.
                </audio>    
    </div>
    <div class="col-md-4">
            <h2>Title</h2>
                <img class="audioPic" alt="picture" src="~/images/musicitune.jpeg"/>
                    <audio id="myAudio" controls>

                        <source src="~/audio/horse.ogg" type="audio/mpeg">
                            Your browser does not support the audio element.
                    </audio>    
    </div>
    <div class="col-md-4">
            <h2>Title</h2>
                <img class="audioPic" alt="picture" src="~/images/album.jpeg"/>
                    <audio id="myAudio" controls>

                        <source src="~/audio/horse.ogg" type="audio/mpeg">
                            Your browser does not support the audio element.
                    </audio>
    </div>
</div>
</div> <!-- container -->

<script src="~/js/site.js" asp-append-version="true"></script>